<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store API</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="heading">
        <span class="home">Home</span> / Products
    </div>
    <div class="container">
        <div class="panel">
            <input type="search" name="search" id="search" placeholder="Search">
            <div class="category">
                <p>Category</p>
                <form action="/api/v1/products/" method="post" class="categories">
                    <input type="hidden" name="all" value="All">
                    <input type="submit" id="exception" value="All">
                </form>
                <form action="/api/v1/products/" method="post" class="categories">
                    <input type="hidden" name="office" value="Office">
                    <input type="submit" value="Office">
                </form>
                <form action="/api/v1/products/" method="post" class="categories">
                    <input type="hidden" name="living" value="Living">
                    <input type="submit" value="Living">
                </form>
                <form action="/api/v1/products/" method="post" class="categories">
                    <input type="hidden" name="kitchen" value="Kitchen">
                    <input type="submit" value="Kitchen">
                </form>
                <form action="/api/v1/products/" method="post" class="categories">
                    <input type="hidden" name="bedroom" value="Bedroom">
                    <input type="submit" value="Bedroom">
                </form>
                <form action="/api/v1/products/" method="post" class="categories">
                    <input type="hidden" name="dining" value="Dining">
                    <input type="submit" value="Dining">
                </form>
                <form action="/api/v1/products/" method="post" class="categories">
                    <input type="hidden" name="kids" value="Kids">
                    <input type="submit" value="Kids">
            </div>

            <div class="company">
                <p>Company</p>
                <select name="Company" id="">
                    <option value="all">All</option>
                    <option value="ikea">Ikea</option>
                    <option value="marcos">Marcos</option>
                    <option value="liddy">Liddy</option>
                    <option value="caressa">Caressa</option>
                </select>
            </div>
            <div class="colors">
                <p>Colors</p>
                <div id="allcolors">
                    <div class="circle" id="all">All</div>
                    <div class="circle" id="red"></div>
                    <div class="circle" id="green"></div>
                    <div class="circle" id="blue"></div>
                    <div class="circle" id="black"></div>
                    <div class="circle" id="yellow"></div>
                </div>

            </div>
            <div class="price">
                <p>Price</p>
                <p class="range">26,000rs</p>
                <input type="range" name="" id="">
            </div>
            <div class="shipping">
                Free Shipping
                <input type="checkbox" name="shipping" id="shipping"><br>
                <input type="button" id="clear" value="Clear Filters">
            </div>
            </form>
        </div>
        <div class="allcontent">
            <div class="sort">
                <div class="sorting">
                    <div class="info">
                        <p></p>

                    </div>
                    <hr>
                    <div class="select">
                        <p>Sort By</p>
                        <select name="sort" id="sort">
                            <option value="notsorted">Price(Not Sorted)</option>
                            <option value="lowest">Price(Lowest)</option>
                            <option value="highest">Price(Highest)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="products">

            </div>
        </div>
    </div>
</body>
<script src="./script.js"></script>

</html