@media (max-width:750px) {
    html {
        font-size: 11px;
    }

    .heading {
        height: 15vw;
        width: auto;
    }

    .stick {
        background-color: white;
        height: 15vw;
    }

    .container {
        margin: auto;
        width: fit-content;
    }

    .allcontent {
        width: 94vw;
    }


    .sort {
        width: 100vw;
        margin: auto;
        display: none;
    }

    .sorting {
        width: 100vw;
        justify-content: center;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .filter {
        display: block;
    }

    .panel {
        width: 0;
        top: 15vw;
    }

    input[type='search']~div {
        display: none;
    }

    .info {
        margin-right: 0;
    }

    .info p {
        width: 10rem;
    }

    hr {
        width: 8rem;
    }

    .select {
        margin-left: 1rem;
    }

    .select p {
        width: 6rem;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        width: fit-content;
    }

    .product {
        width: 45vw;
        height: fit-content;
    }

    img {
        height: 28.5vw;
        width: 45vw;
    }

    .desc {
        font-weight: bold;
    }

    #search {
        position: absolute;
        left: 9vw;
        top: -15vw;
        width: 73vw;
        height: 9vw;

    }
}

@media (max-width:550px) {
    html {
        font-size: 10px;
    }
}

@media (max-width:494px) {
    html {
        font-size: 9px;
    }
}

@media (max-width:450px) {
    html {
        font-size: 8px;
    }
}

@media (max-width:400px) {
    html {
        font-size: 7px;
    }
}