@media (max-width:750px) {
    html {
        font-size: 12px;
    }

    .heading {
        height: 15vw;
        width: auto;
    }

    .stick {
        background-color: white;
        height: 12.5vw;
    }

    .category, .company, .colors, .price {
        padding-left: 2vw;
    }

    .category p:first-child {
        font-size: 2.2rem;
    }

    .burger_panel {
        display: flex;
    }

    .categorybtn .categories {

        margin: 10px 0 0 0;
        color: rgb(104, 104, 104);
        font-weight: 500;
        border: none;
        display: flex;
        background-color: transparent;
        font-size: 2rem;
        border: none;
    }

    .company p {
        font-size: 2.2rem;
    }

    .company select {
        font-size: 2rem;
    }

    .colors p {
        font-size: 2.2rem;
    }

    .colors p+div {
        font-size: 2rem;
    }

    #allcolors, #allcolorsTwo {
        width: 180px;
        height: fit-content;
        padding-right: 3vw;
    }

    #all~.circle, #allTwo~.circle {
        min-height: 18px;
        min-width: 18px;
    }

    #clear {
        font-size: 1.8rem;
    }

    .price :first-child {
        font-size: 2.2rem;
    }

    .range {
        font-size: 2rem;
    }

    input[type='range'] {
        width: 45vw;
    }

    .shipping {
        font-size: 2.2rem;
        width: 165px;
    }

    .container {
        margin: auto;
        width: fit-content;

    }

    .allcontent {
        width: 94vw;
        z-index: -2;
    }


    .sort {
        width: 100vw;
        margin: auto;
        height: 5vw;
        top: 12.5vw;
    }



    .sorting {
        width: 100vw;
        justify-content: center;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .filter {
        display: block;
    }

    .panel {
        width: 0;
        top: 12.5vw;
    }

    input[type='search']~div {
        display: none;
    }

    .info {
        margin-right: 0;
    }

    .info p {
        width: 10rem;
    }

    hr {
        width: 8rem;
        display: none;
    }

    .select {
        margin-left: 1rem;
        display: none;
    }

    .selectTwo {
        display: flex;
        position: absolute;
        top: 2.5vw;
        right: 0;
        height: 8vw;
        width: 17vw;
        align-items: center;
        justify-content: center;
        border: 0.5vw solid black;
        border-radius: 1vw;
    }

    .select p {
        width: 6rem;
        display: none;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        width: fit-content;
    }

    .product {
        width: 45vw;
        height: fit-content;
    }

    img {
        height: 28.5vw;
        width: 45vw;
    }

    .desc {
        font-weight: bold;
    }

    #search {
        position: absolute;
        left: 9vw;
        top: -10vw;
        width: 69vw;
        height: 9vw;

    }
}

@media (max-width:550px) {
    html {
        font-size: 11px;
    }
}

@media (max-width:494px) {
    html {
        font-size: 10px;
    }
}

@media (max-width:450px) {
    html {
        font-size: 9px;
    }
}

@media (max-width:400px) {
    html {
        font-size: 8px;
    }
}

@media (max-width:350px) {
    html {
        font-size: 7px;
    }
}

@media (max-width:300px) {
    html {
        font-size: 6px;
    }
}

@media (max-width:250px) {
    html {
        font-size: 5px;
    }
}

@media (max-width:200px) {
    html {
        font-size: 4px;
    }
}

@media (max-width:150px) {
    html {
        font-size: 3px;
    }
}