* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;

}

html {
    overflow-x: hidden;
    font-size: 15px;
}

.heading {
    display: flex;
    background-color: rgb(225, 212, 212);
    height: 6vw;
    align-items: center;
    padding-left: 3vw;
    font-size: 2.8rem;
    font-weight: 900;
}

.home {

    color: rgb(122, 78, 78);
}

.stick {
    height: 2vw;
    position: sticky;
    top: 0;
    background-color: white;
}

.burger {
    display: none;
    cursor: pointer;
    height: 7vw;
    width: 8.5vw;
    position: absolute;
    top: 0.5vw;
    left: 2vw;
    align-items: center;

}

.line {
    background-color: black;
    height: 1.2vw;
    width: 7.5vw;
}

.cross_parent {
    display: none;
    background-color: black;
    height: 1.2vw;
    width: 8.5vw;
    transform-origin: center;
    transform: rotate(-45deg);
}

.cross_child {
    background-color: black;
    height: 1.2vw;
    width: 8.5vw;
    transform-origin: center;
    transform: rotate(-90deg);
}

.container {
    width: 77vw;
    min-height: 40vw;
    display: flex;
    margin: 0 auto 0 auto;
}

.panel {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 14vw;
    position: sticky;
    top: 2vw;
    padding-top: 1.5vw;
}

.allcontent {
    width: inherit;
}

.sort {
    background-color: white;
    height: 5.5rem;
    padding: 0;
    position: sticky;
    top: 2vw;
    display: flex;
}

.sorting {
    display: flex;
    align-items: center;
    height: inherit;
}

.info {
    margin-right: 1.5vw;

}

.info p {
    font-size: 1.4rem;
    width: 13vw;
    font-weight: bold;
}

hr {
    border: 1.5px solid rgb(211, 236, 251);
    background-color: rgb(211, 236, 251);
    width: 31vw;
    height: fit-content;
}

.select {
    display: flex;
    margin-left: 2.5vw;
}

.select p {
    font-size: 1.4rem;
    width: 5vw;
    font-weight: bold;

}

#sort {
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    font-weight: bold;

}

option {
    border: none;
}

.products {
    max-width: initial;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 2vw;
}

#search {
    background-color: rgb(237, 248, 255);
    height: 40px;
    width: 65%;
    border: none;
    font-size: 2rem;
    color: grey;
    padding-left: 10px;

}


.category, .company, .colors, .price {
    margin-top: 20px;
}

.category p:first-child {
    font-weight: bold;
    font-size: 1.5rem;

}

.categorybtn .categories {
    margin: 10px 0 0 0;
    color: rgb(104, 104, 104);
    font-weight: 500;
    border: none;
    display: flex;
    background-color: white;
    font-size: 1.4rem;
    border: none;

}

p~.categories input[type="submit"] {
    background-color: white;
    font-size: 1.4rem;
    border: none;
}

.categorybtn :first-child {
    background-color: white;
    font-size: 1.4rem;
    border-bottom: 2px solid black;

}

.categorybtn .categories:hover {
    font-weight: bold;
}

p~.categories input[type="submit"]:focus {
    border-bottom: 2px solid black;
}



.company p {
    font-weight: bold;
    font-size: 1.5rem;

}

.company select {
    border: none;
    background-color: rgb(237, 248, 255);
    font-size: 1.4rem;
    margin-top: 1.2rem;
    font-weight: 500;
}

#allcolors {
    display: flex;
    height: 1.5vw;
    width: 11vw;
    justify-content: space-between;
    align-items: center;
}

.colors p {
    font-weight: bold;
    font-size: 1.5rem;
}


.colors p+div {
    margin: 10px 0 10px 0;
    color: rgb(104, 104, 104);
    font-size: 1.4rem;
    font-weight: 500;
}

#all {
    border-bottom: 2px solid black;
}

#all~.circle {
    height: 18px;
    width: 18px;
    border-radius: 20px;
}

#red {
    background-color: rgba(255, 0, 0, 0.6);
}

#green {
    background-color: rgba(173, 255, 47, 0.6);

}

#blue {
    background-color: rgba(0, 0, 255, 0.6);
}

#black {
    background-color: rgba(0, 0, 0, 0.6);
}

#yellow {
    background-color: rgba(255, 255, 0, 0.6);
}

.price :first-child {
    font-weight: bold;
    font-size: 1.5rem;
}

.range {
    color: rgb(104, 104, 104);
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 0 10px 0;

}

.shipping {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.4rem;
}

#clear {
    margin-top: 2rem;
    font-size: 1.2rem;
    background-color: brown;
    color: white;
    border-radius: 6px;
    padding: 6px;
    font-weight: bold;
    border: none;
}

.product {
    height: 13vw;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    width: 18rem;
}

.desc {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;

}

img {
    height: 10.5vw;
    width: 18vw;
    border-radius: 0.3vw;
}

.itemprice {
    color: rgb(165, 135, 135);
}

.filter {
    display: none;
    height: 5.5vw;
    width: 13vw;
    text-align: center;
    padding-top: 2.3vw;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(122, 78, 78);
    position: absolute;
    top: 0;
    right: 1vw;
    border: 0.5vw solid black;
    border-radius: 1vw;
}

.burger_panel {
    display: none;
    overflow: hidden;
    background-color: rgb(225, 212, 212);
    /* height: 90rem; */
    height: 100vh;
    flex-direction: column;

    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;

}

#template {
    position: absolute;
    left: 0;
    top: 9vw;
}